# Exercise 6: Weather anomalies (10 points)

The aim of this exercise is to analyze historical weather data. In Problem 1 you read in a tricky data file and explore it's contents. In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius. In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

### Tips for completing this exercise

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-6-problems-1-3.ipynb` file (this file).
    - **Copy/paste cells in this notebook**. We use an automated grading system that will fail if there are copies of code cells.
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

## Problem 1 - Reading in a tricky data file (2 points)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (1 point)

You should start by loading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [3]:
import pandas as pd
fp = "data/1091402.txt"
data = pd.read_csv(fp,delim_whitespace = True, skiprows = [1], na_values = '-9999.00', header = 0)

# YOUR CODE HERE
# i have forced pd to read -9999.00 as an NaN values
# i haved skipped row index [1] out of the data to be read by pd

In [4]:
# Check that the dataframe looks ok:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,-----------------,----------,----------,----------,--------,--------,--------,--------,--------
1,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37,39,34
2,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35,37,34
3,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33,36,NaN
4,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29,30,25

In [5]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
23711,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47.0,49.0,44.0
23712,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47.0,48.0,45.0
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47.0,49.0,46.0
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47.0,NaN,44.0
23715,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52.0,56.0,NaN

### Part 2 (1 point)

In this section, you will calculate some basic statistics of the input data.

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`

In [160]:
tavg_nodata_count = (data["TAVG"]).isna().sum()
# DataFrame.isna().sum() counts the numbers of NaN in TAVG column
# YOUR CODE HERE

In [161]:
# Print out the solution:
print(f'Number of no-data values in column "TAVG": {tavg_nodata_count}')

Number of no-data values in column "TAVG": 3308

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [162]:
tmin_nodata_count = (data["TMIN"]).isna().sum()

# YOUR CODE HERE

In [163]:
# Print out the solution:
print(f'Number of no-data values in column "TMIN": {tmin_nodata_count}')

Number of no-data values in column "TMIN": 365

In [164]:
# there is a larger numbers of NaN in TAVG than in TMIN

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [165]:
data["DATE_STR"] = data["DATE"].astype(str)

data["YEAR"] = data["DATE_STR"].str.slice(start = 0, stop = 4)
data["YEAR_MONTH"] = data["DATE_STR"].str.slice(start = 0, stop = 6)
data["MONTH"] = data["DATE_STR"].str.slice(start = 4, stop = 6)
data["DAYS"] = data["DATE_STR"].str.slice(start = 6, stop = 8)
#day_count = data["DAYS"].count()

# YOUR CODE HERE
# I have checked column DATE is an int data type. This has to be converted to str data type
# we need to convert the DATE column to DATE_STR string data type for slicing operation 
# to get the days character

In [166]:
data["YEAR_MONTH"].tail()

23711    201709
23712    201710
23713    201710
23714    201710
23715    201710
Name: YEAR_MONTH, dtype: object

In [167]:
data["DAYS"].head()
# the count method counts the number of cells with input except a NaN
day_count = data["DAYS"].count()

In [168]:
# Print out the solution:
print(f'Number of days: {day_count}')

Number of days: 23716

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [169]:
first_obs = data.sort_values(by = "DATE", ascending = True).at[0,"DATE"]

# YOUR CODE HERE
# there is no keyword descending in pandas

In [170]:
# Print out the solution:
print(f'Date of the first observation: {first_obs}')

Date of the first observation: 19520101

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [171]:
last_obs = data.sort_values(by = "DATE", ascending = False)

last_obs = last_obs.at[23715, "DATE"]

# YOUR CODE HERE

In [172]:
# Print out the solution:
print(f'Date of the last observation: {last_obs}')

Date of the last observation: 20171004

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [173]:
avg_temp = data["TAVG"].mean()

# YOUR CODE HERE

In [174]:
# Print out the solution:
print(f'Average temperature (F) for the whole dataset: {round(avg_temp, 2)}')

Average temperature (F) for the whole dataset: 41.32

In [175]:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,DATE_STR,YEAR,YEAR_MONTH,MONTH,DAYS
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0,19520101,1952,195201,01,01
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0,19520102,1952,195201,01,02
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN,19520103,1952,195201,01,03
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0,19520104,1952,195201,01,04
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0,19520105,1952,195201,01,05

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [176]:
# YOUR CODE HERE
# we need data of 1969 
year_1969 = data[(data["YEAR"] =="1969")]

# we can then select data for the daily data in the summer months from DATE_STR column
summer_months = year_1969.loc[(year_1969["DATE_STR"]>"19690501") & (year_1969["DATE_STR"]< "19690830")]
# we then calculate mean temperature of the data
avg_temp_1969 = summer_months["TMAX"].mean()

In [177]:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,DATE_STR,YEAR,YEAR_MONTH,MONTH,DAYS
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0,19520101,1952,195201,01,01
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0,19520102,1952,195201,01,02
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN,19520103,1952,195201,01,03
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0,19520104,1952,195201,01,04
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0,19520105,1952,195201,01,05

In [178]:
#data["YEAR_MONTH"].unique()

In [179]:
data["DAYS"].head()

0    01
1    02
2    03
3    04
4    05
Name: DAYS, dtype: object

In [180]:
# This test print should print a number
print(f'Average temperature (F) for the Summer of 69: {round(avg_temp_1969, 2)}')

Average temperature (F) for the Summer of 69: 68.09

## Problem 2 - Calculating monthly average temperatures (3 points)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do

*Hint: you can start by creating a new column with a label for each month and then continue grouping the data based on this information.*

In [181]:
# we need to create temperature converter
def fahr_to_celsius(temp_fah):
    temp_celsius = (temp_fah - 32)/1.8
    return temp_celsius
# we then create a new column and apply temperature converter

data["temp_celsius"] = data["TAVG"].apply(fahr_to_celsius)
# we group data by YEAR_MONTH so that data is monthly and there are 790 months as a result
grouped = data.groupby(data["YEAR_MONTH"])

# create an empty data frame monthly_data
monthly_data = pd.DataFrame()
# create column to be include in monthly_data data frame
mean_col = ["temp_celsius"]
for key, group in grouped:
    mean_value = group[mean_col].mean()
    mean_value["YEAR_MONTH"] = key
    row = mean_value.to_frame().transpose()
    monthly_data = pd.concat([monthly_data, row], ignore_index = True)

monthly_data.head()
# so far we created a new column temp_celsius, created an empty dataframe, group data into monthly
# calculated mean for each monthly data
#monthly_data = None

# YOUR CODE HERE

  temp_celsius YEAR_MONTH
0    -1.400966     195201
1         -4.0     195202
2   -10.106838     195203
3      4.22619     195204
4     7.037037     195205

In [182]:
monthly_data["MONTH"] = monthly_data["YEAR_MONTH"].str.slice(start = 4, stop = 6)

In [183]:
monthly_data.head()

  temp_celsius YEAR_MONTH MONTH
0    -1.400966     195201    01
1         -4.0     195202    02
2   -10.106838     195203    03
3      4.22619     195204    04
4     7.037037     195205    05

In [184]:
# monthly data by unique key YEAR_MONTH
#monthly_data["YEAR_MONTH"].unique()

In [185]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

790

In [186]:
type(monthly_data)

pandas.core.frame.DataFrame

In [187]:
# This test print should print the column names of monthly_data
print(monthly_data.columns.values)

['temp_celsius' 'YEAR_MONTH' 'MONTH']

In [188]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

5.097114347669993

In [189]:
# This test print should print the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

4.73

## Problem 3 - Calculating temperature anomalies (5 points)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to an observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1:

- Calculating ***the mean temperature for each month over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table and figure below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius.
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2:

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html)) between `monthly_data` and `ref_temps` based on the month.
    - Temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`) 
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame: 
1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the mean temperature during the reference period (e.g., for February 1952 to 1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

A summary of the relationships between the `monthly_data` and `reference_temps` DataFrames, as well as how the `diff` value should be calculated in the `monthly_data` DataFrame is presented in the figure below.

![Exercise 6 dataframes](img/exercise-6-dataframes.png)<br/>
*Figure 1. Relationships between the `monthly_data` and `reference_temps` DataFrames.*

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code.

In [190]:
# YOUR CODE HERE
# select target data range
temp_range= data.loc[(data["YEAR_MONTH"]>="195201") & (data["YEAR_MONTH"]<="198012")]

# lets see unique value in MONTH in temp_range data frame
temp_range["MONTH"].unique()
#len(reference_temp)
# we need to group this data into groups of same month. we will group by month!

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'], dtype=object)

In [191]:
# lets see unique values in YEAR_MONTH in temp_range data frame
#temp_range["YEAR_MONTH"].unique()
# we see that we can group data by months for the data frame

In [192]:
temp_range.tail()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,DATE_STR,YEAR,YEAR_MONTH,MONTH,DAYS,temp_celsius
10312,GHCND:FIE00142080,51,60.3269,24.9603,19801227,0.01,31.0,33.0,28.0,19801227,1980,198012,12,27,-0.555556
10313,GHCND:FIE00142080,51,60.3269,24.9603,19801228,0.07,30.0,33.0,25.0,19801228,1980,198012,12,28,-1.111111
10314,GHCND:FIE00142080,51,60.3269,24.9603,19801229,0.03,35.0,38.0,32.0,19801229,1980,198012,12,29,1.666667
10315,GHCND:FIE00142080,51,60.3269,24.9603,19801230,0.00,35.0,42.0,32.0,19801230,1980,198012,12,30,1.666667
10316,GHCND:FIE00142080,51,60.3269,24.9603,19801231,0.47,32.0,35.0,28.0,19801231,1980,198012,12,31,0.000000

In [193]:
grouped = temp_range.groupby(temp_range["MONTH"])

In [194]:
temp_range

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,DATE_STR,YEAR,YEAR_MONTH,MONTH,DAYS,temp_celsius
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0,19520101,1952,195201,01,01,2.777778
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0,19520102,1952,195201,01,02,1.666667
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN,19520103,1952,195201,01,03,0.555556
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0,19520104,1952,195201,01,04,-1.666667
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0,19520105,1952,195201,01,05,-2.777778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10312,GHCND:FIE00142080,51,60.3269,24.9603,19801227,0.01,31.0,33.0,28.0,19801227,1980,198012,12,27,-0.555556
10313,GHCND:FIE00142080,51,60.3269,24.9603,19801228,0.07,30.0,33.0,25.0,19801228,1980,198012,12,28,-1.111111
10314,GHCND:FIE00142080,51,60.3269,24.9603,19801229,0.03,35.0,38.0,32.0,19801229,1980,198012,12,29,1.666667
10315,GHCND:FIE00142080,51,60.3269,24.9603,19801230,0.00,35.0,42.0,32.0,19801230,1980,198012,12,30,1.666667
10316,GHCND:FIE00142080,51,60.3269,24.9603,19801231,0.47,32.0,35.0,28.0,19801231,1980,198012,12,31,0.000000

In [195]:
#grouped.rename(columns= {""})

In [196]:
grouped.groups.keys()

dict_keys(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])

In [197]:
# to check that a unique key contains data of same month
month = '01'
group1 = grouped.get_group(month)
group1.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,DATE_STR,YEAR,YEAR_MONTH,MONTH,DAYS,temp_celsius
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0,19520101,1952,195201,01,01,2.777778
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0,19520102,1952,195201,01,02,1.666667
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN,19520103,1952,195201,01,03,0.555556
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0,19520104,1952,195201,01,04,-1.666667
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0,19520105,1952,195201,01,05,-2.777778

In [198]:
# we need to calculate mean values for each unique key/group
mean_col = ["temp_celsius"]

In [199]:



reference_temp = grouped[mean_col].mean()

reference_temp.head()

       temp_celsius
MONTH
01        -5.877342
02        -6.990482
03        -3.841270
04         2.427875
05         9.522613

In [200]:
reference_temp = reference_temp.rename(columns = {"temp_celsius": "ref_temp"})
reference_temp.head()

       ref_temp
MONTH
01    -5.877342
02    -6.990482
03    -3.841270
04     2.427875
05     9.522613

In [201]:
type(reference_temp)

pandas.core.frame.DataFrame

In [202]:
# Check the monthly data:
monthly_data.head()

  temp_celsius YEAR_MONTH MONTH
0    -1.400966     195201    01
1         -4.0     195202    02
2   -10.106838     195203    03
3      4.22619     195204    04
4     7.037037     195205    05

In [203]:
join1= reference_temp.merge(monthly_data, on = "MONTH")
join1

    MONTH  ref_temp temp_celsius YEAR_MONTH
0      01 -5.877342    -1.400966     195201
1      01 -5.877342    -5.396825     195301
2      01 -5.877342     -7.07265     195401
3      01 -5.877342    -5.473251     195501
4      01 -5.877342    -8.133333     195601
..    ...       ...          ...        ...
785    12 -4.168044    -6.630824     201212
786    12 -4.168044     1.362007     201312
787    12 -4.168044    -1.146953     201412
788    12 -4.168044     2.204301     201512
789    12 -4.168044     -0.78853     201612

[790 rows x 4 columns]

In [204]:
join1["DIFF"] = join1["temp_celsius"]- join1["ref_temp"]

In [205]:
join1

    MONTH  ref_temp temp_celsius YEAR_MONTH      DIFF
0      01 -5.877342    -1.400966     195201  4.476376
1      01 -5.877342    -5.396825     195301  0.480517
2      01 -5.877342     -7.07265     195401 -1.195307
3      01 -5.877342    -5.473251     195501  0.404091
4      01 -5.877342    -8.133333     195601 -2.255991
..    ...       ...          ...        ...       ...
785    12 -4.168044    -6.630824     201212  -2.46278
786    12 -4.168044     1.362007     201312  5.530051
787    12 -4.168044    -1.146953     201412  3.021091
788    12 -4.168044     2.204301     201512  6.372345
789    12 -4.168044     -0.78853     201612  3.379514

[790 rows x 5 columns]

In [206]:
join1.sort_values(by ="temp_celsius", ascending =False  )

    MONTH   ref_temp temp_celsius YEAR_MONTH      DIFF
454    07  16.498881    22.329749     201007  5.830868
455    07  16.498881     20.78853     201107  4.289649
445    07  16.498881    20.412186     200107  3.913305
447    07  16.498881    20.322581     200307  3.823699
458    07  16.498881    19.982079     201407  3.483197
..    ...        ...          ...        ...       ...
741    12  -4.168044          NaN     196812       NaN
742    12  -4.168044          NaN     196912       NaN
743    12  -4.168044          NaN     197012       NaN
744    12  -4.168044          NaN     197112       NaN
745    12  -4.168044          NaN     197212       NaN

[790 rows x 5 columns]

Remember also to calculate which month had the largest temperature anomaly during the observed time period in comparison with the reference data. Use the cell below to calculate and print out the answers. Note, you may want to consider the largest absolute value of the temperature anomaly, as well as the largest positive and negative anomalies.

In [207]:
# YOUR CODE HERE
warmest_temp = round(join1.at[454, "temp_celsius"],2)
warmest_month = join1.at[454,"YEAR_MONTH"]
temp_anomaly = round(join1.at[454,"DIFF"],2)
print(f"The warmest temperature is: {warmest_temp} degree celsius in the year {warmest_month}  with a temperature anomaly of {temp_anomaly} degree celsius")

The warmest temperature is: 22.33 degree celsius in the year 201007  with a temperature anomaly of 5.83 degree celsius

In [208]:
join1.sort_values(by = "temp_celsius", ascending = True)

    MONTH  ref_temp temp_celsius YEAR_MONTH       DIFF
35     01 -5.877342    -17.97491     198701 -12.097568
33     01 -5.877342   -15.519713     198501  -9.642371
99     02 -6.990482   -15.119048     198502  -8.128566
70     02 -6.990482   -14.550265     195602  -7.559782
108    02 -6.990482   -12.956349     199402  -5.965867
..    ...       ...          ...        ...        ...
741    12 -4.168044          NaN     196812        NaN
742    12 -4.168044          NaN     196912        NaN
743    12 -4.168044          NaN     197012        NaN
744    12 -4.168044          NaN     197112        NaN
745    12 -4.168044          NaN     197212        NaN

[790 rows x 5 columns]

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)

In [209]:
coldest_temp = join1.at[35, "temp_celsius"]
coldest_year = join1.at[35,"YEAR_MONTH"]

In [210]:
print(f"The coldest temperature is {coldest_temp} in the year {coldest_year}")

The coldest temperature is -17.97491039426523 in the year 198701